.button
{
	-fx-background-radius: 0px;
	-fx-background-color: white;
	-fx-text-fill: black; 
	-fx-font-size: 16pt;
	-fx-min-width: 300px;
	-fx-max-width: 320px;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-radius: 0px;
}


.button:hover,.button:hover:pressed
{
	-fx-background-color: rgb(0,128,255);
	-fx-text-fill: black;
}